<div class="main-content">
  <section class="landing">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="landing__content">
            <h3 class='landing__content--title'>Welcome to the We All Count Data Biography Builder.</h3>
            <p class='landing__content--section'>This tool is designed around the Data Equity Biography checklist.  The tools helps you identify potential sources of bias in your dataset and gives you the chance to improve the equity in your use of the data.</p>
            <p class='landing__content--section'>This tool is designed to be used to assess the level of bias that is present in dataset. This is designed to assess the level of bias prior to analysis. To get a sense of the sources and locations of potential bias in your data most completely you’ll need the following things. However if you’re missing some pieces, it’s possible to get started anyway.</p>
            <ul class='landing__content--list'>
              <li class='landing__content--list-item landing__content--list-item--center'>The Dataset</li>
              <li class='landing__content--list-item'>The tool that was used to collect the data</li>
              <li class='landing__content--list-item'>The codebook or metadata associated with the data</li>
            </ul>
            <%= link_to new_survey_path, class: 'landing__content--button' do %>
              <div class='landing__content--button-text'>
                Get Started
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
