<header class="main-header inner-header">
  <div class="container">
    <%= image_tag('inner-header.jpg') %>
  </div>
</header>
<div class="main-content">
  <section class="survey-questions">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="index.html">
            <div class="logo">
              <%= image_tag('logo.png') %>
            </div>
          </a>
        </div>
        <div class="col-md-8">
          <div class="start-here-content">
            <h1>Data Bias Assessment Tool ~Survey Edition</h1>
            <p>Answer the following questions about your dataset.</p>
            <p>We’ll show you your results once you’re complete</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="questions-block">
            <h2>Who - Questions about who the data was collected by and from</h2>
            <%= render partial: "form" %>
          </div>  
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    SELECTED_ANSWER = [];

    $('#rootwizard').bootstrapWizard({
      onTabShow: function(tab, navigation, index) {
        var $total = navigation.find('li').length;
        var $current = index+1;
        var $percent = ($current/$total) * 100;
        $('#rootwizard .progress-bar').css({width:$percent+'%'});
      }
    });

    $('.survey_section_score').on('change', function(){
      var answer = $("#survey_section_score_"+this.dataset.questionId+" option:selected").val();
      SELECTED_ANSWER.push(answer);
      if ($.inArray('99.0', SELECTED_ANSWER) != -1) {
        console.log('unsure answer selected');
        SELECTED_ANSWER.splice($.inArray('99.0', SELECTED_ANSWER),1);
      }
    });

    $('.tab-btn').click(function(){
      avg = calculateAnswer();
      $('#survey_survey_scores_attributes_'+this.dataset.sectionId+'_section_score').val(avg);
    });

    function calculateAnswer(){
      var test = SELECTED_ANSWER, n = SELECTED_ANSWER.length, sum = 0;
      while(n--)
        sum += parseFloat(SELECTED_ANSWER[n]) || 0;
      var avg = sum/SELECTED_ANSWER.length; 
      return avg;     
    }
  });
</script>
