<header class="main-header inner-header">
  <div class="container">
    <%= image_tag('inner-header.jpg') %>
  </div>
</header>
<div class="main-content">
  <section class="survey-questions">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="index.html">
            <div class="logo">
              <%= image_tag('logo.png') %>
            </div>
          </a>
        </div>
        <div class="col-md-8">
          <div class="start-here-content">
            <h1>Data Bias Assessment Tool ~Survey Edition</h1>
            <p>Answer the following questions about your dataset.</p>
            <p>We’ll show you your results once you’re complete</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="questions-block">
            <h2>Who - Questions about who the data was collected by and from</h2>
            <div class="section-block">
              <h3>Section 1: Who asked the questions (Data collectors)</h3>
              <div class="single-question-block">
                <h4 class="singleQuestion">Was the person asking the questions a professionally trained enumerator?
                </h4>
                <select class="form-control">
                  <option>Please Select</option>
                  <option>Yes, professionally trained enumerator</option>
                  <option>No, not professionally trained enumerator</option>
                  <option>Unsure</option>
                </select>
              </div>
              <div class="single-question-block">
                <h4 class="singleQuestion">Was the person asking the questions a potential friend or neighbour?
                </h4>
                <select class="form-control">
                  <option>Please Select</option>
                  <option>Yes</option>
                  <option>No</option>
                  <option>Unsure</option>
                </select>
              </div>
              <div class="single-question-block">
                <h4 class="singleQuestion">What the person collecting the questions the same gender as the respondent?
                </h4>
                <select class="form-control">
                  <option>Please Select</option>
                  <option>Yes, always</option>
                  <option>Yes, when possible</option>
                  <option>No</option>
                  <option>Unsure</option>
                </select>
              </div>
              <div class="single-question-block">
                <h4 class="singleQuestion">Was the person asking the questions of a higher status than the respondent, lower status than the respondent or same status?</h4>
                <select class="form-control">
                  <option>Please Select</option>
                  <option>Person asking question was usually higher status</option>
                  <option>Person asking question was usually same status</option>
                  <option>Persona asking question was usually lower status</option>
                  <option>Unsure</option>
                </select>
              </div>
            </div>
            <div class="section-block">
              <h3>Section 3: Who did not answer the questions</h3>
              <div class="single-question-block">
                <h4 class="singleQuestion">What groups of people were accidentally not included?
                </h4>
                <select class="form-control">
                  <option>Please Select</option>
                  <option>People who were not home or available at the time of data collection were accidentally not included</option>
                  <option>Other people were accidentally not included</option>
                  <option>No one was excluded from the survey by accident</option>
                  <option>Unsure</option>
                </select>
                <div class="form-group">
                  <label>What questions were asked?</label>
                  <textarea class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
          

          <div class="submit-btn">
            <a type="submit" href="survey_summary.html" class="btn btn-default">Submit</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="status-bar-bottom">
    <div class="container">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100" style="width:70%">
          Progress
        </div>
      </div>
    </div>
  </div>
</div>