<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <div class="survey">
        <div class="survey__meta-data">
          <div class="survey__meta-data--progress"> 
            Section <span id='progress-index'>1</span>/8
          </div>
        <%= render partial: "form" %>
        </div>
      </div>  
    </div>
  </div>
</div>
