<header class="main-header inner-header">
  <div class="container">
    <%= image_tag('inner-header.jpg') %>
  </div>
</header>
<div class="main-content">
  <section class="survey-questions">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <%= image_tag('logo.png') %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="start-here-content">
            <h1>Data Bias Assessment Tool ~Survey Edition</h1>
            <p>Answer the following questions about your dataset.</p>
            <p>We’ll show you your results once you’re complete</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="questions-block">
            <h2>Who - Questions about who the data was collected by and from</h2>
            <%= render partial: "form" %>
          </div>  
        </div>
      </div>
    </div>
  </section>
</div>
