<div class="main-content">
  <section class="survey-summary">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-2 col-sm-offset-2">
          <p class='landing__content--title'>Summary of the results of assessment of potential bias in your dataset</p>
          <div class="summary-chart">
            <div class='row'>
              <div class='col-md-12'>
                <% @survey_scores.each do |survey_score| %>
                  <% section = Section.find_by(id: survey_score.section_id) %>
                  <div class="summary-single-block">
                    <div class="summary-question">
                      <%= section.name %> 
                    </div>
                    <div class="summary-color">
                      <ul>
                        <% section_score = survey_score.section_score%>
                        <% if section_score.present? %>
                          <% if section_score <= 1.99  %>
                            <li class="is-green"></li> <%# green signal %>
                            <li></li>
                            <li></li>                         
                          <% elsif (2..2.99).include?(section_score) %>
                            <li></li> <%# yellow signal%>
                            <li class="is-yellow"></li>
                            <li></li>
                          <% elsif section_score >= 2.999 %>
                            <li></li> <%# red signal%>
                            <li></li>
                            <li class="is-red"></li>
                          <% end %>
                        <% else %>
                          <li></li> <%# red signal%>
                          <li></li>
                          <li class="is-red"></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
