<div class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1'>
        <%= image_tag('logo-white.png', class: 'footer__logo') %>
        <p class='footer__title'>Who Are We? </p>
        <p class='footer__text'>We All Count is a project dedicated to equity in data science. Read all about us <a href='https://weallcount.com/'>here.</a></p>
        <ul class='footer__icons'>
          <li class='social-icon'><a href='#'>Fb</a></li>
          <li class='social-icon'><a href='#'>Ig</a></li>
          <li class='social-icon'><a href='#'>Tw</a></li>
          <li class='social-icon'><a href='#'>Li</a></li>
        </ul>
      </div>
      <div class='col-md-2 col-sm-2'></div>
      <div class='col-md-4 col-sm-4'>
        <p class='footer__title'>How Does It Work?</p>
        <p class='footer__text'>Want to learn more about the process? Find out using the link below.</p>
        <p class='footer__title'>Speak To A Specialist</p>
        <p class='footer__text'>Would you like one of our specialists to get back to you with some expert advice on the potential bias in your dataset? If so, please click <a href='mailto:heather@idatassist.com'>here.</a></p>
      </div>
    </div>
  </div>
</div>